<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
    <configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"></setting>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!-- 给实体类起别名 -->
    <typeAliases>
        <package name="cn.bdqn.pojo"></package>
    </typeAliases>

    <!-- 加载mapper 映射文件 -->
    <mappers>
        <package name="cn.bdqn.dao"></package>
    </mappers>
</configuration>