<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对应接口的全类路径-->
<mapper namespace="cn.bdqn.dao.AdminUserMapper">

    <!-- 登录的方法-->
    <!-- id 和接口方法名对应-->
    <select id="login" parameterType="adminUser" resultType="adminUser">
         select *  from   AdminUser  where  login_name=#{loginName}
           and  user_password=#{userPassword}
     </select>




</mapper>